/*Queries file will deal with the website on smaller screens*/



/*Reduce the browser width and fix everything that seems broken*/
@media only screen and (max-width: 1200px) {
    /*Apply for browser widths for <=1280px*/
    
    .hero-text-box {
    
    width: 100%;
    padding: 0 2%;
    
    }
    
    .row { padding: 0 2%; }
    
}



@media only screen and (max-width: 1023px) {
    /*Apply for browser widths for <=1023px*/
    /*ipads in landscape mode*/
    
    body{font-size: 18px;}
    
    section {padding: 60px 0;}
    
    .long-copy {
        width: 80%;
        
        margin-left: 10%;
    }
    
    .steps-box {margin-top: 10px;}
    .steps-box:last-of-type {margin-top: 10px;}
    
    .work-step {margin-bottom: 40px;}
    .work-step:last-of-type {margin-bottom: 60px;}
    
    .app-screen {width: 60%;}
    
    .icon-small {width: 10px;
        margin-right: 5px;
        }
    .city-feature {font-size: 90%;}
    
    .plan-box {
        width: 100%;
        
        margin-left: 0%;
    }
    
    .plan-price {font-size: 250%;}
    
    .plan-box li {font-size: 91%}
    
    .plan-price-meal {font-size: 92%;}
    
    .contact-form {width: 80%;}
}



@media only screen and (max-width: 767px) {
    /*Apply for browser widths for >= 481px and <=767px*/
    /*ipads*/
    
    body {font-size: 16px;}
    
    section {padding: 30px 0;}
    
    .row,
    .hero-text-box {padding: 0 4%;}
    
    .col {
        width: 100%; /*Cols will be stacked upon each other instead of next to each other*/
        margin: 0 0 4% 0; /*This aligns cols exactly below each other*/    
    }
    
    .main-nav{display: none;}
    
    h1 {font-size: 180%;}
    h2 {font-size: 150%;}
    
    .long-copy {
        width: 100%;
        
        margin-left: 0%;
    }
    
    
    .app-screen {width: 40%;}
    .steps-box:first-child {
        text-align: center;
    }
    
    .work-step {margin-bottom: 20px;}
    .work-step:last-of-type {margin-bottom: 20px;}
    
    .work-step div {
        
        height: 40px;
        width: 40px;
        
        margin-right: 15px;
        
        padding: 4px;
        
        font-size: 140%;
    }
    
}

@media only screen and (max-width: 480px) {
    /*These rules apply to devices with width <= 480px*/
    /*Phonescreen*/
    
    section {padding: 25px 0;}
    
    .contact-form {width: 100%;}
}